[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "anthropic>=0.72.0",
    "psycopg2-binary>=2.9.11",
    "pygments>=2.19.2",
    "sqlalchemy>=2.0.44",
    "streamlit>=1.51.0",
]
